<div class="golang-home-body-right">
	<div class="golang-user-info">
		{{#unless data.userStatus}}
			<p>golang123：golang专业中文社区</p>
			<p>您可以<a class="golang-user-info-action" href="/signin">登录</a>或<a class="golang-user-info-action" href="/signup">注册</a></p>
		{{else}}
			<p>
				<div>
					<img class="golang-user-info-icon" src="{{imagePath}}/head.png" alt="">
				</div>您好！ {{data.user.name}}
				<div>
					<p></p>
					<p></p>
				</div>
			</p>
		{{/unless}}
	</div>
	<div class="golang-cell">
		<div class="title">回复最多的话题</div>
		<ul>
			<li class="golang-cell-item">今天是个好日子</li>
			<li class="golang-cell-item">今天是个好日子</li>
			<li class="golang-cell-item">今天是个好日子</li>
			<li class="golang-cell-item">今天是个好日子</li>
			<li class="golang-cell-item">今天是个好日子</li>
		</ul>
	</div>
	<div class="golang-cell">
		<div class="title">积分榜<span>TOP 100>></span></div>
		<ul>
			{{#each data.score}}
				<li class="golang-cell-item">
					<span class="golang-score-item">{{score}}</span>
					<span class="golang-score-item">{{name}}</span></li>
			{{/each}}
		</ul>
	</div>
	<div class="golang-cell">
		<div class="title">友情社区</div>
		<ul>
			<li class="golang-cell-item">今天是个好日子</li>
			<li class="golang-cell-item">今天是个好日子</li>
			<li class="golang-cell-item">今天是个好日子</li>
			<li class="golang-cell-item">今天是个好日子</li>
			<li class="golang-cell-item">今天是个好日子</li>
		</ul>
	</div>
</div>