<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}} - 首页</title>
	<link rel="stylesheet" href="{{cssPath}}/common.css">
	<link rel="stylesheet" href="{{cssPath}}/article/detail.css">
</head>
<body>
	{{>header}}
	<div class="golang-home-body">
		<div class="golang-home-body-left">
			<div class="detail-title-box">
				<p class="article-detail-title">{{data.article.name}}</p>
				<p class="article-title-info">
					<span class="article-title-info-item">
						发布于14小时前
					</span>
					<span class="article-title-info-item">
						作者xxxxx
					</span>
					<span class="article-title-info-item">
						111次浏览
					</span>
					<span class="article-title-info-item">
						来自
						{{#each data.article.categories}}
							{{#unless index}}
								{{name}}
							{{/unless}}
						{{/each}}
					</span>
				</p>
			</div>
			<div class="home-articles-box">
				<div class="golang123-editor">
					{{{data.article.content}}}
				</div>
				
			</div>
		</div>
		{{>sidebar}}
	</div>
	{{>footer}}
	{{>include_data}}
</body>
</html>