<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}} - {{data.article.title}}</title>
	<link rel="stylesheet" href="{{cssPath}}/common.css">
	<link rel="stylesheet" href="{{cssPath}}/article/simplemde.min.css">
	<!-- <link rel="stylesheet" href="{{cssPath}}/article/edit123.css"> -->
</head>
<body style="background-color: #e1e1e1;">
	{{>header}}
	<div class="topic-box">
		<div class="topic-main">
			<ul class="topic-nav">
				<li><a href="/"><span>主页</span></a></li>
				<li class="topic-nav-sep"><span>/</span></li>
				<li><span class="publish-label">发布话题</span></li>
			</ul>
			<div class="editor-box-wrap">
				<div id="editorBox"></div>
			</div>
		</div>
		<ul class="topic-sidebar">
			<li class="topic-sidebar-item">
				<div class="topic-sidebar-title">Markdown 语法参考</div>
				<p>### 单行的标题</p>
				<p>**粗体**</p>
				<p>[链接](https://www.go.com)</p>
				<p>![图片](https://www.go.com/1.jpg)</p>
				<div class="markdown-codeblock">
						<p>```</p>
						<p>if (a > 1) {</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;doSomething("代码")</p>
						<p>}</p>
						<p>```</p>
					</pre>
				</div>
				<p><a href="/markdown" target="_blank">Markdown参考文档</a></p>
			</li>
			<li class="topic-sidebar-item">
				<div class="topic-sidebar-title">我的近期话题</div>
				{{#if data.hasRecentArticles}}
				{{#each data.recentArticles}}
				<p><a href="/topic/{{id}}" target="_blank">{{name}}</a></p>
				{{/each}}
				{{else}}
				<p class="topic-none" style="padding-left: 0;">暂无话题</p>
				{{/if}}
			</li>
		</ul>
	</div>
	{{>footer}}
	{{>include_data}}
	<script type="text/javascript" src="{{jsPath}}/vendor.js"></script>
	<script type="text/javascript" src="{{jsPath}}/article/edit.js"></script>
</body>
</html>