<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}} - 首页</title>
	<link rel="stylesheet" href="{{cssPath}}/common.css">
	<link rel="stylesheet" href="{{cssPath}}/home.css">
</head>
<body>
	{{>header}}
	<div class="golang-home-body">
		<div class="golang-home-body-left">
			<div class="home-categoties-box">
				<div class="categoties-item {{#unless data.cate}}categoties-select{{/unless}}"><a href="https://{{host}}">全部</a></div>
				{{#each data.categoties}}
					{{#if status}}
						<div class="categoties-item"><a href="https://{{../host}}?cate={{id}}">{{name}}</a></div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
</body>
</html>