<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}} - 首页</title>
	<link rel="stylesheet" href="{{cssPath}}/common.css">
	<link rel="stylesheet" href="{{cssPath}}/home.css">
</head>
<body>
	{{>header}}
	<div class="golang-home-body">
		<div class="golang-home-body-left">
			<div class="home-categoties-box">
				<div class="categoties-item {{#unless data.cate}}categoties-select{{/unless}}"><a href="https://{{host}}">全部</a></div>
				{{#each data.categoties}}
					{{#if status}}
						<div class="categoties-item {{#if select}}categoties-select{{/if}}"><a href="https://{{../host}}?cate={{id}}">{{name}}</a></div>
					{{/if}}
				{{/each}}
			</div>
			<div class="home-articles-box">
				{{#each data.articles}}
					<div class="articles-cell">
						<a class="user-icon-box"><img src="{{imagePath}}/images/head.png" alt=""></a>
						<span class="articles-click-num" title="回复数">120</span>
						<span class="articles-num-split">/</span>
						<span class="articles-res-num" title="点击数">11520</span>
						{{#each categories}}
						<span class="articles-categoties">{{name}}</span>
						{{/each}}
						<a href="/topic/{{id}}" class="home-articles-title">{{name}}</a>
						<p class="articles-res-time">2天前</p>
						<a class="user-small-icon-box"><img src="{{imagePath}}/images/head.png" alt=""></a>
					</div>
				{{/each}}
			</div>
		</div>
		{{>sidebar}}
	</div>
	{{>footer}}
</body>
</html>