<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}} - 登录</title>
	<link rel="stylesheet" href="https://unpkg.com/iview@2.0.0/dist/styles/iview.css">
	<link rel="stylesheet" href="{{cssPath}}/common.css">
	<link rel="stylesheet" href="{{cssPath}}/signin.css">
</head>
<body>
	<div id="signin"></div>
	<script type="text/javascript" color="45,140,240" opacity='0.7' zIndex="-2" count="99" src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
	<script type="text/javascript" src="{{jsPath}}/vendor.js"></script>
	<script ype="text/javascript" src="{{jsPath}}/signin/index.js"></script>
</body>